# Site URL - THAY ĐỔI THEO DOMAIN CỦA BẠN
NEXT_PUBLIC_SITE_URL=https://0xtrisec.com

# Base Path (để trống nếu deploy ở root, VD: /blog nếu deploy ở subdomain)
# BASE_PATH=

# Analytics (Umami)
NEXT_UMAMI_ID=

# Export mode (set "true" để build static site)
# EXPORT=

# Bundle analyzer
# ANALYZE=true
